/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Utility Classes */
  .container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
  }
  
  .text-primary {
    color: #f7c08a;
  }
  
  .lead {
    font-size: 20px;
    color: rgb(78, 240, 186);
  }
  
  .btn {
    display: inline-block;
    font-size: 18px;
    color: #ffff;
    background: rgb(8, 119, 17);
    padding: 13px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #f7c08a;
    color: #333;
  }
  
  /* Main Styling */
  html,
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  h1,
  h2,
  p {
    padding-bottom: 20px;
  }
  
  #navbar {
    background: rgb(3, 94, 82);
    color: #ffff;
    overflow: auto;
  }
  
  #navbar a {
    color: #ffff;
  }
  
  #navbar h1 {
    float: left;
    padding-top: 20px;
  }
  
  #navbar ul {
    list-style: none;
    float: right;
  }
  
  #navbar ul li {
    float: left;
  }
  
  #navbar ul li a {
    display: block;
    padding: 15px;
    text-align: center;
  }
  
  #navbar ul li a:hover,
  #navbar ul li a.current {
    background: #444;
    color: #f7c08a;
  }
  
  #main-text {
    background: url("../images/pic1.jpg") no-repeat center center/cover;
    height: 1000px;
  }
  
  #main-text .content {
    color: #ffff;
    text-align: center;
    padding-top: 300px;
  }
  
  #main-text .content h1 {
    font-size: 50px;
    line-height: 1.2em;
  }
  
  #main-text .content p {
    padding-bottom: 24px;
    line-height: 1.7em;
  }